<div id="header-wrap">
  <div class="container rescues-container">
    <div class="navbar-top-padding"></div>
      <h1 class="header-title">Our Success Stories</h1>
      <body>
        <div id="adoption-counter">
          <span class="count">19</span>
          <!-- <p>saved</p>  -->
          <!-- me: 10  -->
          <!-- brookie: 5  -->
          <!-- nati: 2  -->
          <!-- emily: 2  -->
        </div>
        <h4 class="text-center posts-header">Meet some of the kitties</h4>
        <h4 class="text-center posts-header">who inspire us to keep fighting</h4>
        </br>
        <%= render "dublin_summary" %>
    <body>
  </div>
</div>
