<div id="header-wrap">
  <div class="container rescues-container">
    <div class="navbar-top-padding"></div>
      <h1 class="header-title">Our Success Stories</h1>
      <body>
        <!-- <div id="adoption-counter">
          <span class="count">19</span>
        </div> -->
        <h4 class="text-center posts-header">Meet some of the kitties</h4>
        <h4 class="text-center posts-header">who inspire us to keep fighting</h4>
        </br>
        <%= render "all_rescues" %>
    <body>
  </div>
</div>
