/* line 6, app/assets/stylesheets/adoptions.scss */
#adoption-counter {
  width: 100px;
  height: 100px;
  background: #b588428a;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 3%;
}

/* line 17, app/assets/stylesheets/adoptions.scss */
.count {
  line-height: 100px;
  color: #fef8ee;
  margin-left: 40%;
  font-size: 140%;
}

/* line 24, app/assets/stylesheets/adoptions.scss */
.static-welcome-photo {
  max-height: 55%;
  max-width: 65%;
  margin-bottom: 2%;
}

/* line 30, app/assets/stylesheets/adoptions.scss */
.carousel-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 36, app/assets/stylesheets/adoptions.scss */
.carousel-outer {
  position: relative;
}

/* line 40, app/assets/stylesheets/adoptions.scss */
.carousel {
  margin: 0;
}

/* line 52, app/assets/stylesheets/adoptions.scss */
.carousel-item {
  position: relative;
  height: 100%;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

@media (min-width: 992px) {
  /* line 67, app/assets/stylesheets/adoptions.scss */
  .carousel {
    margin-top: 20px;
  }
  /* line 70, app/assets/stylesheets/adoptions.scss */
  .carousel .carousel-inner {
    height: auto;
  }
  /* line 72, app/assets/stylesheets/adoptions.scss */
  .carousel .carousel-inner .carousel-item {
    height: 400px;
    line-height: 300px;
  }
}

@media (max-width: 991px) {
  /* line 81, app/assets/stylesheets/adoptions.scss */
  .carousel {
    margin-top: 20px;
  }
  /* line 84, app/assets/stylesheets/adoptions.scss */
  .carousel .carousel-inner {
    height: auto;
  }
}

/* line 127, app/assets/stylesheets/adoptions.scss */
.rgba-orange-slight {
  background-color: rgba(255, 152, 0, 0.1);
}

/* line 131, app/assets/stylesheets/adoptions.scss */
.yellow-photo-text {
  font-family: 'cormorant-garamond-reg';
  font-weight: 300;
  color: #f5d664a8 !important;
}

/* line 137, app/assets/stylesheets/adoptions.scss */
.teal-photo-text {
  font-family: 'cormorant-garamond-reg';
  font-weight: 300;
  color: #b7d0d1 !important;
}

/* line 159, app/assets/stylesheets/adoptions.scss */
.align-items-center {
  vertical-align: middle;
  line-height: 1.1em;
  display: inline-block;
}

/* line 165, app/assets/stylesheets/adoptions.scss */
.adopt-text-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  border-radius: 5%;
}

/* line 179, app/assets/stylesheets/adoptions.scss */
.card-text:last-child gold {
  color: #8e7955;
  font-family: 'cormorant-garamond-reg';
  font-size: large;
}

/* line 185, app/assets/stylesheets/adoptions.scss */
.card-text:last-child {
  color: #8e7955;
  font-family: 'cormorant-garamond-reg';
  font-size: large;
}

/* line 191, app/assets/stylesheets/adoptions.scss */
.clear-card {
  border: none !important;
  background-color: #fef8ee !important;
}

/* line 196, app/assets/stylesheets/adoptions.scss */
.scroll {
  max-height: 300px;
  overflow-y: auto;
}

/* line 201, app/assets/stylesheets/adoptions.scss */
.photo-wrapper {
  border: 5px solid greenyellow;
  max-width: calc(33.3333% - 20px);
  box-sizing: border-box;
}
