/* line 6, app/assets/stylesheets/home.scss */
.home-body {
  height: auto;
}
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 25, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 30, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 34, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 39, app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 44, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 48, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 54, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 61, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 71, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 77, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 3, app/assets/stylesheets/users.scss */
.new-user-header {
  font-size: -webkit-xxx-large;
  color: #356177;
  text-align: center;
  padding-bottom: 3%;
}

/* line 10, app/assets/stylesheets/users.scss */
.form-sign-up {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* line 17, app/assets/stylesheets/users.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* line 29, app/assets/stylesheets/users.scss */
.btn-blue {
  background-color: #356177;
  color: white;
}
/* line 4, app/assets/stylesheets/welcome.scss */
.welcome-header {
  font-size: -webkit-xxx-large;
  color: #356177;
  text-align: center;
}

/* line 10, app/assets/stylesheets/welcome.scss */
.welcome-text {
  font-size: x-large;
  color: #a5a5a5;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@import "bootstrap";

.application-body {
  background-color: #b5814240;
}

.navbar-nav {
  width: 100%;
  display: block;
  text-align:center;
  float: none;
  vertical-align: top;
}

.navbar .navbar-header{
  display: inline-block;
  text-align: center;
  margin: auto;
  font-size: x-large;
  color: #a5a5a5;
  float: none;
}
