/* line 4, app/assets/stylesheets/welcome.scss */
.welcome-header {
  font-size: -webkit-xxx-large;
  color: #356177;
  text-align: center;
}

/* line 10, app/assets/stylesheets/welcome.scss */
.welcome-text {
  font-size: x-large;
  color: #a5a5a5;
  text-align: center;
}
