@font-face {
  font-family: 'addison_affson';
  src: url(/assets/addison_affson.ttf) format("truetype");
}

@font-face {
  font-family: 'simplicity';
  src: url(/assets/simplicity.ttf) format("truetype");
}

/* line 14, app/assets/stylesheets/welcome.scss */
.welcome-header {
  font-size: 130px;
  font-family: 'simplicity';
  color: #356177;
  text-align: center;
}

/* line 21, app/assets/stylesheets/welcome.scss */
.welcome-text {
  font-size: large;
  color: #a5a5a5;
  text-align: center;
}
