<%= stylesheet_link_tag 'users.scss', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="new-user-header">
    <h1>You're just in time...</h1>
  </div>

  <%= render 'form', user: @user %>

  <!-- <div class="text-center">
    <%= link_to 'Back', users_path %>
  </div> -->
</div>
