<div class="container">
  <!-- <div class="new-user-header">
    <h1>You're just in time...</h1>
  </div> -->
  <p id="notice"><%= notice %></p>

  <div class="text-center">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
