<div class="row">
  <div class="square-thumb">
    <div class="adptImg">
      <%= image_tag 'https://i.imgur.com/wM0uyYU.jpg', class: 'square-thumb rescue-img-filter' %>
    </div>
    <div class="adptTxt hidden">
      <div class="adoptee-name">
        Pepé
      </div>
      </br>
      <div class="adoptee-text">
        1 year
        </br>
        Salt Lake City
      </div>
    </div>
  </div>
  <div class="square-thumb">
    <div class="adptImg">
      <%= image_tag 'https://i.imgur.com/g0wpFf7.jpg', class: 'square-thumb rescue-img-filter' %>
    </div>
    <div class="square-thumb adptTxt hidden">
      <div class="adoptee-name">
        Kimba
      </div>
      </br>
      <div class="adoptee-text">
        2 years
        </br>
        Salt Lake City
      </div>
    </div>
  </div>
  <!-- <div class="square-thumb last">
      <%= image_tag 'https://i.imgur.com/3rNyNJ9m.jpg', class: 'rescue-img-filter' %>
  </div> -->
</div>
