<div class="container">
  <div id="adoption-counter">
    <span class="count">19</span>
    <!-- <p>saved</p>  -->
    <!-- me: 10  -->
    <!-- brookie: 5  -->
    <!-- nati: 2  -->
    <!-- emily: 2  -->
  </div>

  <h1 class="text-center posts-header">Our Success Stories</h1>
  <h4 class="text-center posts-header">Some of the kitties</h4>
  <h4 class="text-center posts-header">who inspire us to keep fighting</h4>
  </br>

  <div class="row">
  
  </div>

</div>
