<div class="container">
  <div id="adoption-counter">
    <span class="count">19</span>
    <!-- me: 10  -->
    <!-- brookie: 5  -->
    <!-- nati: 2  -->
    <!-- emily: 2  -->
  </div>

  <h1 class="text-center posts-header">Because every life matters,</h1>
  <h3 class="text-center posts-header">a minor tribute to the kitties we have rehomed</h3>
  </br>
  </br>
  <%= render 'opal_summary' %>
  </br>
  <%= render 'dublin_summary' %>
</div>
