<%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="welcome-header">
  Fight for Felines
</div>

<p class="welcome-text">
  We're a small group of people across the nation dedicated to saving cats
  and providing them with better lives.
</p>
<p class="welcome-text">
  We rescue from shelters, support existing no-kill shelters and the <%= link_to 'TNR', 'https://bestfriends.org/advocacy/protecting-community-cats' %>  movement.
</p>
<p class="welcome-text">
  Help us make a difference in the lives of cats all across the country. 
</p>
