<div id="header-wrap">
  <div class="post-img">
    <img class="post-header-photo" data-src="https://i.imgur.com/PKYQb9D.jpg" alt="" src="https://i.imgur.com/PKYQb9D.jpg">
  </div>
  <div class="container">
    <div class="navbar-top-padding"></div>
      <h1 class="header-title">About Us</h1>
      <body>
        <p class="post-gar-text">
          Fight for Felines started with two girls, who each had four cats of their own.</br>
          We both knew there <i>had</i> to be a way for us to directly help other kitties, even though we couldn't possibly house any more.</br>
        </p>
        <p class="post-gar-text">
          We started working with local shelters to spay and neuter feral cats while spreading information about its importance.
          We've learned over the years that the problem isn't going to be solved overnight and want to continue the fight to better
          the lives of disadvantaged cats and kittens.
        </p>
        <p class="post-gar-text">
          On Christmas Eve of 2019, our founder decided she couldn't celebrate Christmas this year, without saving some cats.
          She had already done her of research and decided to call
          <%= link_to 'Utah Valley Animal Shelter', "https://www.uvar.us/adoptworkingcats.html", class: 'gold-text-link' %> to adopt six working/feral cats.
        </p>
        <p class="post-gar-text">
          Because URIs are so prevelant during the winter and two of my new babies had visible and obvious symptoms, I decided to bring
          the feline crew into a room in my home that was not being used at the time. (I should state that UVAR strongly advises <i>against</i>
          this, for many reasons, but I personally felt the need to do so).
        </p>
        <p class="post-gar-text">
          After bringing them all inside and spending more time with everyone, I found myself quickly becoming friends with four of them.
          I didn't want to release my new friends into the wild and was extremely surprised by how much they seemed to value our newly found friendship.
        </p>
        <p class="post-gar-text">
          Our goal is to continue to provide homes for the cats that crave comfort and human companionship. Once we've succeeded in reducing the
          feline euthanasia rate, we plan to rescue cats of all sizes.
        </p>
        <p class="post-gar-text">
          If you are interested in adopting or fostering one of our felines, please contact us at: <%= mail_to "savingallthecats@gmail.com", "savingallthecats@gmail.com", class: 'gold-text-link' %>
        </p>
        </br>
      <body>
  </div>
</div>
