<% stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1 class="centered-header garamond-font">New Post</h1>

  <div class="posts-form">
    <%= render 'form', post: @post %>
  </div>

  <div class="text-center">
    <%= link_to 'Back', posts_path %>
  </div>
</div>
