<div class=container>
  <h1 class="text-center posts-header">How it all began</h1>
  <p class="post-gar-text">
    Fight for Felines started with two girls, who each had four cats of their own.
    We both decided there <i>had</i> to be a way for us to help other cats, even though we couldn't possibly house any more.
    We started working with local shelters to spay and neuter feral cats while spreading information about its importance.
    We've learned over the years that the problem isn't going to be solved overnight and want to continue our fight to better
    the lives of homeless cats and kittens.
  </p>
  </br>
  <h1 class="text-center posts-header">Our rescued babies</h1>
  <p class="post-gar-text">
    It was a cold morning, Christmas Eve of 2019. Savannah decided she didn't want to celebrate Christmas this year, she wanted to
    save some cats. She had already done her research and decided to call
    <%= link_to 'Utah Valley Animal Shelter', "https://www.uvar.us/adoptworkingcats.html" %> and adopt six working/feral cats.
  </p>
  <div class="text-center">
    <%= image_tag 'first_six_adoption_day.jpg', class: 'static-welcome-photo' %>
  </div>
  <p class="post-gar-text">
    Because URIs are so prevelant during the winter and two of my new babies had visible and obvious symptoms, I decided to bring
    the feline crew into my inside office space that was not being used at the time. (I should state that UVAR strongly advises <i>against</i>
    this, for many reasons, but I personally felt the need to do so).
  </p>
  <p class="post-gar-text">
    After bringing them all inside and spending more time with everyone, I found myself quickly becoming friends with three of them.
  </p>
</div>
