/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$dark-blue: #356177;
$light-blue: #589ec1;
$light-grey: #a5a5a5;
$dark-yellow: #a0743e;
// @media (max-width: 480px) {
//     .navbar-nav {
//        position: static;
//        width:100%;
//        transform:translateZ(0)
//     }
//   }
@font-face {
   font-family: 'cormorant-garamond-reg';
   src: asset-url('cormorant-garamond-reg.ttf') format('truetype');
}

.application-body {
  background-color: #b5814240;
}

.custom-nav {
  background-color: #6a97ad73 !important;
}

.custom-nav .navbar-nav .nav-link {
  color: $dark-blue;
  @media(max-width: 100%) {
    background-color: #000;
  }
}

a {
  color: $dark-blue;

  &:visited {
    color: $dark-blue;
  }
}

.centered-header {
  font-size: -webkit-xxx-large;
  color: $dark-blue;
  text-align: center;
  padding-bottom: 1%;
}

.garamond-font {
  font-family: 'cormorant-garamond-reg';
}

.nav-link {
  font-family: 'garamond-font';
  font-size: 120%;
}
