/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$dark-blue: #356177;
$light-blue: #589ec1;
$light-grey: #a5a5a5;
$dark-yellow: #a0743e;
$peach-skin: #fef8ee;
$dark-brown: #76706c;
$light-brown: #faf9f1;
$transparent: #ffffff00;

@font-face {
   font-family: 'cormorant-garamond-reg';
   src: asset-url('cormorant-garamond-reg.ttf') format('truetype');
}

@font-face {
   font-family: 'addison-affson';
   src: asset-url('addison_affson.ttf') format('truetype');
}

@font-face {
   font-family: 'alice';
   src: asset-url('alice-reg.ttf') format('truetype');
}

.application-body {
  background-color: $peach-skin;
}

@media(min-width: 992px){
  #header-wrap {
    .container {
      top: 50%;
    }

    .header-title {
      font-family: 'alice';
      font-size: 50px;
      color: $dark-brown;
      line-height: 1.2em;
    }
  }

  #header {
    .website-navcontainer {
      display: inline-block;
      width: 85%;
    }
  }

  .logo-style {
    max-width: 80px;
  }
}

// iphone CSS

@media(max-width: 991px){
  #header {
    .website-navcontainer {
      display: inline-block;
      width: 70%;
      background-color: $transparent !important;
    }

    .nav a {
         color: $peach-skin !important;
     }
   }

  #header-wrap {
    .container {
      top: 30%;
    }

    .header-title{
      color: $light-brown !important;
    }
  }

  .navbar-logo {
    max-width: 50px;
    margin-right: 10px;
  }

  .logo-style {
    max-width: 50px;
  }
}

.header-img {
  width: 100%;
}

.header-photo {
  width: 100%;
}

.navbar-logo {
  width: 80px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 1%;
}

.small-nav-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    display: none;
    pointer-events: none;
}

#header {
  position: absolute;
  padding: 0 4vw;
  z-index: 9999;
  width: 100%;

  .website-navcontainer {
    display: inline-block;
    background-color: #fbf5eab8;
    border-radius: 10px;
    padding: 0 10px;
  }

  .nav {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;

    a {
        display: inline-block;
        padding: 20px 10px;
        font-size: 14px;
        color: $dark-brown;
    }
  }
}

#header-wrap {
  .container {
    position: absolute;
    width: 98%;
    height: inherit;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-60%);
    text-align: center;
  }

  .header-title {
    font-family: 'alice';
    font-size: 40px;
    line-height: 1.2em;
  }
}

.right {
  float: right;
}
