/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Large desktop */
 // @media (min-width: 1200px) { ... }

 /* Portrait tablet to landscape and desktop */
 // @media (min-width: 768px) and (max-width: 979px) { ... }

 /* Landscape phone to portrait tablet */
 // @media (max-width: 767px) { ... }

 /* Landscape phones and down */
 // @media (max-width: 480px) { ... }


@import "bootstrap";

$dark-blue: #356177;
$light-blue: #589ec1;
$light-grey: #a5a5a5;
$dark-yellow: #a0743e;
$peach-skin: #fef8ee;
$dark-brown: #76706c;
$light-brown: #faf9f1;
$transparent: #ffffff00;

@font-face {
   font-family: 'cormorant-garamond-reg';
   src: asset-url('cormorant-garamond-reg.ttf') format('truetype');
}

@font-face {
   font-family: 'addison-affson';
   src: asset-url('addison_affson.ttf') format('truetype');
}

@font-face {
   font-family: 'alice';
   src: asset-url('alice-reg.ttf') format('truetype');
}

@font-face {
   font-family: 'foglihten';
   src: asset-url('Foglihten.otf') format('truetype');
}

.application-body {
  background-color: $peach-skin;
}

@media(min-width: 992px){
  #header-wrap {
    .container {
      top: 23%;
      // margin: auto;
    }

    .header-title {
      line-height: 1.2em;
      letter-spacing: 8px;
    }
  }

  #header {
    .website-navcontainer {
      display: inline-block;
      width: 85%;
    }
  }

  .logo-style {
    max-width: 70px;
  }
}

.header-img {
  width: 100%;
}

.header-photo {
  width: 100%;
}

.navbar-logo {
  width: 80px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 1%;
}

#header {
  position: absolute;
  padding: 0 4vw;
  z-index: 9999;
  width: 100%;

  .website-navcontainer {
    display: inline-block;
    border-radius: 10px;
    padding: 0 10px;
  }

  .nav {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;

    a {
        display: inline-block;
        padding: 20px 10px;
        font-size: 14px;
        color: $peach-skin;
        letter-spacing: 1px;
    }
  }
}

#header-wrap {
  margin-bottom: -10px !important;

  .container {
    position: absolute;
    width: 98%;
    height: inherit;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-60%);
    text-align: center;
  }

  .header-title {
    font-family: 'foglihten';
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2em;
    color: $peach-skin;
  }
}

.right {
  float: right;
}

.img-gradient {
  position: relative;
  display: inline-block;
}

.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(205,197,186, .8) 0%, rgba(140, 130, 120, .2) 50%);
}

.img-gradient img {
  display: block;
}

// iphone CSS

@media(max-width: 991px){
  #header {
    .website-navcontainer {
      display: inline-block;
      width: 70%;
    }
   }

  #header-wrap {
    .container {
      top: 30%;
    }
  }

  .navbar-logo {
    max-width: 50px;
    margin-right: 7px;
  }

  .logo-style {
    max-width: 50px;
  }

  .media-hide {
    display: none !important;
  }
}

@media(max-width: 767px){
  #header {
    .website-navcontainer {
      display: inline-block;
      width: 70%;
    }
   }

  #header-wrap {
    .container {
      top: 30%;
    }
  }

  .navbar-logo {
    max-width: 40px;
    margin-right: 5px;
  }

  .logo-style {
    max-width: 40px;
  }

  .media-hide {
    display: none !important;
  }
}
