// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$base-grey: #a5a5a5;
$peach-skin: #fef8ee;
$dark-brown: #76706c;
$light-brown: #faf9f1;

@media(min-width: 992px){
  #header-wrap {
    .container {
      top: 10%;
    }

    .header-title {
      line-height: 1.2em;
      letter-spacing: 8px;
      padding-top: 7%;
    }
  }

  .link-media-hide {
    display: none !important;
  }

  .logo-style {
    max-width: 70px;
  }
}

#home-link-image {
  .container {
    position: absolute;
    width: 98%;
    height: 45%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-60%);
    text-align: center;
  }

  .link-title {
    font-family: 'foglihten';
    font-size: 115%;
    font-weight: 500;
    line-height: 1.2em;
    color: $light-brown;
  }

  .dark-brown {
    color: $dark-brown;
  }
}

a:hover {
  color: $peach-skin !important;
  text-decoration: none !important;
  font-weight: 700 ;
}
