// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-size: x-large;
}

.home-body {
  height: auto;
}
