// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
   font-family: 'cormorant-garamond-reg';
   src: asset-url('cormorant-garamond-reg.ttf') format('truetype');
}

$dark-blue: #356177;

.posts-header {
  font-family: 'cormorant-garamond-reg';
  color: #356177;
  margin-bottom: 2%;
}

.posts-form {
  width: 100%;
  max-width: 80%;
  padding: 15px;
  margin: auto;
}

.new-post-submit {
  width: 40%;
}

.post-text-size {
  padding: 30%
}

.post-gar-text {
  font-size: medium;
  font-family: 'cormorant-garamond-reg';
}

.static-welcome-photo {
  max-height: 55%;
  max-width: 65%;
  margin-bottom: 2%;
}

.carousel-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-frame {
  max-height: 100%;
  min-height: 100%;
  widht: 100%;
}

.carousel {
    // position: relative;
    max-height: 60%;
    max-width: 60%;
    margin: auto;
  // width:640px;
  // height:360px;
}

.carousel-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 800px !important;
}

.carousel-item {
    position: relative;
    height:100%;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out,-o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
