// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark-blue: #356177;

.header-blue {
  color: $dark-blue
}

a {
  color: $dark-blue
}
