// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
   font-family: 'cormorant-garamond-reg';
   src: asset-url('cormorant-garamond-reg.ttf') format('truetype');
}

$dark-blue: #356177;
$seafoam-green: #b0f3e1;
$dark-gold: #856404;
$dark-brown: #76706c;
$light-brown: #faf9f1;

.posts-header {
  font-family: 'cormorant-garamond-reg';
  color: #356177;
  margin-bottom: 1%;
}

.posts-form {
  width: 100%;
  max-width: 80%;
  padding: 15px;
  margin: auto;
}

.post-gar-text {
  font-size: large;
  font-family: 'cormorant-garamond-reg';
  color: $dark-blue;
}

.img-container {
  position: relative;

  &::after {
    content: url(https://i.imgur.com/1fPLlj7.jpg);
    display: block;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.navbar-top-padding {
  padding-top: 35%;
}

.header-title {
  margin-bottom: 3%;
}

.gold-text-link {
  font-size: large;
  color: $dark-gold;
}

@media(min-width: 992px) {
  .post-img {
    width: 100% !important;
    overflow: hidden;
    height: 1150px;
  }

  .post-header-photo {
    // overflow: hidden;
    // height: 1100px;
  }
}

// iphones

@media(max-width: 769px){
  .navbar-top-padding {
    padding-top: 10%;
  }

  #header-wrap .container {
    top: 62% !important;
    height: 100% !important;
  }

  .post-img {
    width: 100% !important;
  }

  .post-header-photo {
    overflow: hidden;
    height: 1100px;
  }

  .post-gar-text {
    margin-bottom: 2rem;
  }

  .post-header-photo{
    transform: translateX(-28%);
  }
}
