$counter-blue: #356177c2;
$counter-gold: #b588428a;
$peach-skin: #fef8ee;
$light-teal: #b7d0d1;

#adoption-counter {
  width: 100px;
	height: 100px;
	background: $counter-gold;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  margin: auto;
  margin-bottom: 3%;
}

.count {
  line-height: 100px;
  color: $peach-skin;
  margin-left: 4%;
  font-size: 140%;
}

.carousel-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-outer {
  position: relative;
}

.carousel {
    // height: 100%;
    // max-width: 60%;
    margin: 0;
    // margin-bottom: 2%;
}

.carousel-inner {
    // max-height: 75% !important;
    // height: 800px !important;
}

.carousel-item {
    position: relative;
    height:100%;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out,-o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@media(min-width: 992px) {
  #header-wrap
    .header-title {
      font-family: 'foglihten';
      font-size: 50px;
      font-weight: 500;
      line-height: 1.2em;
      color: #fef8ee;
      padding-top: 40%;
  }

  // .post-img {
  //
  // }

  .post-header-photo {
    width: 100% !important;
    overflow: hidden;
    // max-height: 1150px;
  }

  .square-thumb {
    width: 310px;
    margin: 0 3%;
  }

  .rescues-container {
    top: 140% !important;
  }
}

@media(min-width: 1023) {
  top: 75% !important;
}

@media(max-width: 769px){
  .navbar-top-padding {
    padding-top: 10%;
  }

  #header-wrap
    .header-title {
      font-family: 'foglihten';
      font-size: 50px;
      font-weight: 500;
      line-height: 1.2em;
      color: #fef8ee;
      padding-top: 40%;
  }

  .post-img {
    width: 100% !important;
    overflow: hidden;
    height: 1100px;
  }

  .post-gar-text {
    margin-bottom: 2rem;
  }

  .post-header-photo{
    transform: translateX(-28%);
  }

  .square-thumb {
    width: 310px;
    margin: 2% 8%;
  }
}

.rgba-orange-slight {
  background-color: rgba(255,152,0,0.1);
}

.yellow-photo-text {
  font-family: 'cormorant-garamond-reg';
  font-weight: 300;
  color: #f5d664a8 !important;
}

.teal-photo-text {
  font-family: 'cormorant-garamond-reg';
  font-weight: 300;
  color: $light-teal !important;
}

.align-items-center {
    vertical-align: middle;
    line-height: 1.1em;
    display: inline-block;
}

.square-thumb {
  overflow: hidden;
  height: 310px;
  margin: 2% auto;
}

// .inner {
  // background: gold;
  // align-self: center;
  // padding: 2rem;
// }

.card-text:last-child gold {
  color: #8e7955;
  font-family: 'cormorant-garamond-reg';
  font-size: large;
}

.card-text:last-child {
  color: #8e7955;
  font-family: 'cormorant-garamond-reg';
  font-size: large;
}

.clear-card {
  border: none !important;
  background-color: $peach-skin !important;
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
}

.photo-wrapper {
  border: 5px solid greenyellow;
  // margin-right: 20px;
  max-width:calc(33.3333% - 20px); //one third minus the 20px margin
  box-sizing:border-box; // include the borders in the sizing
}

#header-wrap
  .header-title {
    font-family: 'foglihten';
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2em;
    color: #fef8ee;
}

.rescue-img-filter {
  z-index: 1;
  opacity: 75%;
  height: inherit;
}

// .sub-row {
//   margin-top: 2%
// }

.last {
  // margin-top: 2%;
}
