$light-grey: #a5a5a5;
$dark-blue: #356177;

.welcome-header {
  font-size: -webkit-xxx-large;
  color: $dark-blue;
  text-align: center;
}

.welcome-text {
  font-size: x-large;
  color: $light-grey;
  text-align: center;
}
