<div class="website-navcontainer media-hide">
  <nav class="nav nav-center">
     <%= link_to 'About Us', posts_path, class: "top-link nav-link" %>
     <%# <%= link_to 'Adoptions', adoptions_path, class: "top-link nav-link" %>
  </nav>

  <nav class="nav right">
    <!-- <a href="#" class="nav-link top-link">Sign In</a> -->
  </nav>
</div>
